* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navContainer {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px #DBDBDB solid;
  padding: 12px 17% 7px;
  font-family: "Poppins";
  position: fixed;
  top: 0;
  background-color: #ffffff;
}
.navContainer__image {
  width: 107px;
  height: 33px;
  border-radius: 0%;
  padding-top: 4px;
}
.navContainer__search {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 150px;
  width: 250px;
  border-radius: 7px;
  background-color: #EFEFEF;
  border: 0px;
}
.navContainer__icon-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  padding-top: 4px;
}
.navContainer__icon-list__icon {
  font-size: 24px;
  width: 47px;
}
.navContainer__icon-list__me {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.container {
  display: grid;
  width: 60%;
  grid-template-columns: 55% 45%;
  font-family: "Poppins";
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}
.container .post-container {
  grid-row: 1/span 2;
}
.container .post-container .story-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  width: 100%;
  border: 1px #000000 solid;
  border-radius: 7px;
}
.container .post-container .story-container__list {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 70px;
}
.container .post-container .story-container__list__image {
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.container .post-container .story-container__list__name-text {
  font-size: small;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}
.container .post-container .post-frame {
  display: grid;
  grid-auto-flow: row;
}
.container .post-container .post-list {
  display: grid;
  grid-auto-flow: row;
  border: 1px #DBDBDB solid;
  border-radius: 7px;
  margin-top: 18px;
}
.container .post-container .post-list__title {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 9% 86% 5%;
  margin: 10px;
}
.container .post-container .post-list__title__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.container .post-container .post-list__title__text {
  display: grid;
  grid-auto-flow: row;
  font-size: 14px;
  padding-left: 15px;
}
.container .post-container .post-list__title__text__sub {
  font-size: 12px;
}
.container .post-container .post-list__title__button {
  border: none;
  color: rgb(0, 115, 222);
  background-color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  padding-bottom: 12px;
}
.container .post-container .post-list__image {
  width: 100px;
  height: 100px;
  border-radius: 0%;
  width: 100%;
  height: auto;
}
.container .post-container .post-list__action-icon {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 10px 10px 0px;
}
.container .post-container .post-list__action-icon__icon-list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20%;
  width: 100%;
  font-size: 25px;
}
.container .post-container .post-list__action-icon__icon-save {
  font-size: 24px;
}
.container .post-container .post-list__description {
  font-size: 14px;
  margin: 5px 10px;
}
.container .post-container .post-list__comment-list {
  font-size: 14px;
  margin: 5px 10px;
}
.container .post-container .post-list__timestamp {
  font-size: 14px;
  margin: 5px 10px;
}
.container .post-container .post-list__comment {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 9% 80% 11%;
  border-top: 1px #DBDBDB solid;
}
.container .post-container .post-list__comment__icon {
  font-size: 25px;
  padding: 5px 10px 0px;
}
.container .post-container .post-list__comment__input {
  width: 100%;
  border: 0px;
  padding-left: 10px;
}
.container .post-container .post-list__comment__button {
  border: none;
  color: rgb(0, 115, 222);
  background-color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
}
.container .info-container {
  display: grid;
  grid-auto-flow: row;
  padding-left: 20px;
}
.container .info-container .main-card {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 70% auto;
  align-items: center;
  margin: 10px;
}
.container .info-container .main-card__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.container .info-container .main-card__text {
  display: grid;
  grid-auto-flow: row;
  font-size: 14px;
  padding-left: 15px;
}
.container .info-container .main-card__text__sub {
  color: #767676;
}
.container .info-container .main-card__button {
  border: none;
  color: rgb(0, 115, 222);
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.container .info-container .suggestion {
  display: grid;
  grid-auto-flow: row;
}
.container .info-container .suggestion__title {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 18px 7px;
}
.container .info-container .suggestion__title__button {
  border: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.container .info-container .suggestion__list-container {
  display: grid;
  grid-auto-flow: row;
}
.container .info-container .suggestion__list-container__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 70% auto;
  padding: 5px;
}
.container .info-container .suggestion__list-container__list .suggest-list-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.container .info-container .suggestion__list-container__list .suggest-list-text {
  display: grid;
  grid-auto-flow: row;
  font-size: 14px;
}
.container .info-container .suggestion__list-container__list .suggest-list-text__sub {
  font-size: 12px;
  color: #767676;
}
.container .info-container .suggestion__list-container__list .suggest-list-button {
  border: none;
  color: rgb(0, 115, 222);
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */